* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  border: 1px solid red;*/
}


body{
    min-height: 100vh;
}

main{
    min-height: 85vh;
    min-width: 320px!important;
}

.logo {
    height: 30px;
    
}

.secondary-nav {
    height: 80px;
}

.prev {
    text-decoration: none;
    width: 2rem;
    padding-top: 20px;
    padding-left: 1rem;
    padding-bottom: 20px;
    color: #d40666;
    font-weight: 700;
    font-size: 2rem;
}

.next {
    text-decoration: none;
    padding-top: 20px;
    padding-right: 1rem;
    padding-bottom: 20px;
    color: #d40666;
    font-weight: 700;
    width: 2rem;
    font-size: 2rem;

}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: black;
    color: #d40666;
}


.chk-container {
    box-sizing: border-box;
    font-size: small;
    padding: 3px;
    text-align: center;
}

.row {
    margin: 0 !important;
}

.secondary-active {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2em;
    font-weight: 500;
}


.cohort {
    text-align: end;
}

footer {
    height: 6rem!important;
    width: 100%;
}

footer nav,
.cohort {
    height: 100%;
    padding: 10px;
}

footer div {
    color: #d40666;
}

.card-img-top {
    width: 18rem;
    height: 176px;
    object-fit: cover;
}

.nav-link {
    color: #d40666 !important;
    transition: all .2s ease-in-out;
}

.nav-link:hover{
    transform: scale(1.1);
    color: white!important;
}

.active{
    color: white!important;
}

.navbar-toggler {
    color: #d40666 !important;
}

@media only screen and (min-width: 992px) {
    .navbar-collapse {
        flex-grow: 0 !important;
        align-items: flex-end;
    }

    .image-details{
        object-fit:cover;
        height: 30vh!important;
    }

    footer {
        height: 10%;
    }

    header {
        height: 140px;
    }


}

i {
    color: #d40666;
}

@media only screen and (min-width: 2000px) {

    * {
        font-size: 1.8rem;
    }

    header {
        height: 500px;

    }
    

    .chk-container {
        font-size: 2rem;
    }

    .chk-container input {
        width: 1rem;
        height: 1rem;
        margin-left: 2rem;
        margin-right: 1rem;
        outline: #d40666;
    }

    .header-container {
        height: 500px !important;
    }

    .logo {
        height: 200px;
    }
    .blank-td {
        height: 1rem;
    }

}

#nombre,
#email {
    width: 100%;
}

.form-contact {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

#message {
    width: 100%;
    height: 5rem;
}

.submit-contact {
    margin-top: 1rem !important;
    background-color: #d40666 !important;
    color: white !important;
}

.submit-contact:hover {
    cursor: pointer;
}

table,
th,
td {
    border: 3px solid black!important;
}

.blank-td {
    height: 3rem;
}

table{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

th{
    background-color: #d40666;
    color: white;
}

.btn{
    background-color: #d40666!important;
    color: white!important;
    border-color: white!important;
}


.card-container{
    min-height: 70vh;    
}



.card-body-container, .image-container{
    border: 1px solid black!important;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(167, 161, 161);
}


.card{
    box-shadow: 5px 5px 5px rgb(180, 177, 177);
}

.main-details,.contact-details{
    min-height: 85vh; 
}

.image-details{
    object-fit: cover;
    height:100%!important;
}

.td-sub{
    background-color:rgb(207,210,213)!important;
    color:black;
}

td{
    padding: 5px;
    padding-left: 20px;
}

.table-container{
    min-height: 85vh;
}